body
{
    font-family: lucida grande ,tahoma,verdana,arial,sans-serif;
    background-color: #FFFAF0;
}

body p
{
    font-size: 0.8em;
    line-height: 1.28;
}

#banner
{
    width: 400px;
	height: 30px;
    margin: 10px  50px ;
    font-family: Arial;
	color: #E3E3E3;
    overflow:auto;
    padding: 30px;
	text-align: center;
}


#content_area
{
 
    width: 400px;
	height: 400px;
    margin: 10px  10px ;
    font-family: Arial;
	color: #E3E3E3;
    overflow:auto;
    padding: 10px;
	
}
